//Side bar
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  height: 100%;
  min-width: 100%;
}

body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  //background-color: #f9f9f9;
  //padding-top: 5rem;
  color: #777;
}

a {
  @include hover-focus() {
    text-decoration: none !important;
  }
}

textarea {
  resize: none;
}

